



body {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: .1fr 2.1fr .1fr;
    grid-template-rows: .5fr 2fr .5fr 6fr .5fr 2fr .5fr;

    align-items: center;

}