/* sets a base margin and padding for anything that hasn't defined a margin or padding */

* {
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns:.1fr 1fr .1fr 1fr 1fr .1fr;
    grid-template-rows: .2fr .2fr .2fr 1.5fr .2fr .5fr .2fr;
    align-items: center;
}

.background {
 grid-row: 1/7;
 grid-column: 1/6;
}



/* makes a black background for the nav bar places the it. It also makes a sub grid for links*/
nav {
    background-color: black;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/6;
    height: 100px;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
/* places the nav bar links */
.links {
    grid-column: 2/6;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

/* places the logo in the nav bar and gives it a size and aligns it*/
.logo {
    justify-self: left;
    align-self: center;
    justify-self: center;
    grid-row: 1/1;
    grid-column: 1/2;
    height: 80%;
    width: 80%;
}

/* gives the links on the nav bar a colour, font and size */
nav a {
    text-decoration: none;
    font-size: 3vw;
    align-self: center;
    justify-self: center;
}

.gridy {
    width: 95%;
    margin: auto;
    display: grid;

}

/* places the background of the contact bar and makes a sub grid */
.ul2 {
    background-color: white;
    grid-row: 6/7;
    grid-column: 4/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px;
    grid-gap: 10px;
    list-style: none;
    justify-items: center;
}

/* gives the text in contact bar a size and colour */
.ul2 p {
    font-size: 2vw;
    color: black;
}